/*****************************************************************************/
/* Homepage: Style */
/*****************************************************************************/
.start{
	text-align: center;
	margin: auto;
}

.jumbotron{
	text-align: center;
	margin-top: 10%;
}