<template name="Homepage">
{{>Header}}
   <div class="row">
        <div class="jumbotron col-lg-offset-1 col-lg-10">
            <h3>We want insights! One day, One smart chart!</h3>

            <div class="row">
                <div class="col-lg-4 text-center col-lg-offset-4">

                    <form class="form-inline" role="">

                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Enter email">
                        </div>

                        <button id="signup" class="btn btn-default">Sign up</button>
                    </form>


                </div>
            </div>

            <div style="height: 30px" class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    {{> notifications}}
                </div>
            </div>

        </div>
        <br>
    </div>
    {{>Footer}}
</template>
