/*****************************************************************************/
/* Footer: Style */
/*****************************************************************************/

footer {
    background-color: #F16131;
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

