<template name="Pricing">

	{{>Header}}


<!--         <h2 class="mainBanner message"></h2> -->

    <div class="container">
    <div class="row animated fadeInLeft">
        <h3 class="text-center">Pricing Table</h3>
        <hr>
        
		<div class="col-sm-3">
			<div class="panel panel-default text-center">
			<div class="panel-heading">
				<h3>Always Free</h3>
			</div>
			<!-- <div class="panel-body">
			  <h3 class="panel-title price">$9<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
			</div> -->
			<ul class="list-group">
				<li class="list-group-item">SHOW ME THE CHART</li>
				<li class="list-group-item">1 User</li>
				<li class="list-group-item">1 Chart Per Day</li>
				<li class="list-group-item">Charts are not saved in your dashboard</li>
				<li class="list-group-item">No sector benchmarking</li>
				<li class="list-group-item">All Channels</li>
				<li class="list-group-item"><br></li>
				<li class="list-group-item"><a class="btn btn-default">Sign Up Now!</a></li>
				</ul>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="panel panel-default text-center">
			<div class="panel-heading">
				<h3>€ 4.95 Per Month</h3>
			</div>
			<!-- <div class="panel-body">
			  <h3 class="panel-title price">$9<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
			</div> -->
			<ul class="list-group">
				<li class="list-group-item">SHOW ME THE CHARTS</li>
				<li class="list-group-item">1 User</li>
				<li class="list-group-item">Up to 3 charts per day (*)</li>
				<li class="list-group-item">Charts are always available in your dashbord</li>
				<li class="list-group-item">No sector benchmarking</li>
				<li class="list-group-item">All Channels</li>
				<li class="list-group-item"><br></li>
				<li class="list-group-item"><a class="btn btn-default">Sign Up Now!</a></li>
				</ul>
			</div>
		</div>


		<div class="col-sm-3">
			<div class="panel panel-recommanded text-center">
			<div class="panel-heading">
				<h3>€ 9.95 Per User Per Month</h3>
			</div>
			<!-- <div class="panel-body">
			  <h3 class="panel-title price">$9<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
			</div> -->
			<ul class="list-group">
				<li class="list-group-item">SHOW ME THE CHARTS</li>
				<li class="list-group-item">Up to 10 Users</li>
				<li class="list-group-item">Up to 3 charts per day per person</li>
				<li class="list-group-item">Charts are always available in your dashbord</li>
				<li class="list-group-item">Sector benchmarking</li>
				<li class="list-group-item">All Channels</li>
				<li class="list-group-item">Enterprise user management (**)</li>
				<li class="list-group-item"><a class="btn btn-recommanded">Sign Up Now!</a></li>
				</ul>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="panel panel-default text-center">
			<div class="panel-heading">
				<h3>Call Us</h3>
			</div>
			<!-- <div class="panel-body">
			  <h3 class="panel-title price">$9<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
			</div> -->
			<ul class="list-group">
				<li class="list-group-item">ENTERPRISE</li>
				<li class="list-group-item">Unlimited Users</li>
				<li class="list-group-item">Up to 3 charts per day per person</li>
				<li class="list-group-item">Charts are always available in your dashbord</li>
				<li class="list-group-item">Sector benchmarking</li>
				<li class="list-group-item">All Channels</li>
				<li class="list-group-item">Enterprise user management (**)</li>
				<li class="list-group-item"><a class="btn btn-default">Sign Up Now!</a></li>
				</ul>
			</div>
		</div>
	</div>
	</div>

	{{>Footer}}
</template>
