/*****************************************************************************/
/* Dashboard: Style */
/*****************************************************************************/


.infoCard {
    box-shadow: 0px 10px 0px #888888;
    border-style: solid !important;
    border-width: 1px;
    border-color: black;
    height: 700px;
}


.chartsDavy div{
    display: inline-block;
    float: left;
    max-width: 400px;
    margin: 1%;
}

.chartsDavy div:first-child {
    margin-left: 5%;
}

svg {
    padding: 10px
}

.firstCard {

}

.centerChart {
    position: relative;
    left: 30px;
}

.shadow {
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}