<template name="Dashboard">
    {{>Header}}

    <div class="row">

    </div>


    <div class="chartsDavy">
        <div class=" panel  firstCard text-center infoCard">
            {{>ChartLeftUp pickNthElem cardDatas 0}}
        </div>


        <div class=" panel text-center infoCard">
            {{>ChartRightUp pickNthElem cardDatas 1}}
        </div>
        <div class=" panel  firstCard text-center infoCard ">
            {{>SecondRowChartLeft pickNthElem cardDatas 2}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">

            <div class="row">



                <!--<div class="col-lg-4 col-lg-offset-2 panel text-center infoCard">-->
                    <!--{{>SecondRowChartRight pickNthElem cardDatas 3}}-->
                <!--</div>-->
            </div>
        </div>
    </div>




</template>
