<template name="Dashboard">
    {{>Header}}
    <div class="row">
        <div class="text-center col-lg-offset-1 col-lg-10">
            <h1>Key metric</h1>
            <h4>Your sales and your facebook likes are correlating by {{correlation}} </h4>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-5 well col-lg-offset-1">

            {{>ChartLeftUp}}

        </div>

        <div class="col-lg-5 ">

            {{>ChartRightUp}}

        </div>

    </div>

    <div class="row">
        <div class="well col-lg-offset-1 col-lg-5">
            {{>SecondRowChartLeft}}
        </div>
        <div class="col-lg-5 well">

            {{>SecondRowChartRight}}
        </div>
    </div>
</template>
