<template name="Header">
    <nav class="header navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="./showcharts_logo.png" alt=""/></a>
            </div>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li class=""><img src="fb.png" id="fbLogin" class="icon"/></li>
            <li class=""><img src="g+.png" id="gPlusLogin" class="icon"/></li>
            <li class=""><img src="tw.png" id="twLogin" class="icon"/></li>
        </ul>
    </nav>
</template>
